*
	box-sizing: border-box

a
	color: $d_gray
	text-decoration: none
	transition: all 0.3s

body
	color: $d_gray
	font-family: 'Roboto Condensed', sans-serif
	margin: 0 auto
	max-width: 1200px

button,
input[type=button],
input[type=submit],
.btn,
	background-color: $orange
	border: 1px solid $l_gray
	color: $l_gray
	outline: none
	padding: 0.5em 1em

	&.btn-secondary
		background-color: white
		border: 2px solid $l_gray
		border-radius: 2px
		color: $orange

	&.hamburguer
		background-color: $l_gray
		color: $d_gray
		font-size: 2.5em
		padding: 0.1em

footer
	font-family: 'Open Sans', sans-serif

header
	padding: 1em

input[type=password],
input[type=search],
input[type=text]
	box-sizing: border-box
	padding: 0.5em

ul
	list-style: none
	padding: 0

	li::before
		content: $icon-chevron-small-right
		font-family: icons

.search-bar
	position: relative
	width: 100%

	input
		padding-right: 1.5em
		transition: all 0.3s
		width: 100%

		&:focus
			outline: 4px solid $l_gray

	&::after
		content: $icon-search
		font-family: icons
		position: absolute
		right: 0.5em
		top: 50%
		transform: translateY(-50%)

.text-align-center
	text-align: center

.text-bigger
	font-size: 1.75em

.text-color-orange
	color: $orange

.text-thin
	font-weight: 300

.text-uppercase
	text-transform: uppercase

.wrapper
	margin: 0 auto
	max-width: 1000px
	width: 100%

@media screen and (min-width: $tablet)
	header
		padding: 0