#main-nav
	#main-menu,
	#sec-menu
		display: none

#sec-nav
	display: none

@media screen and (min-width: $tablet)
	.hamburguer
		display: none
		
	#main-nav
		#main-menu,
		#sec-menu
			display: block

	#sec-nav
		display: block