$icon-edit: "\e914";
$icon-youtube-square: "\e900";
$icon-envelope: "\e901";
$icon-printer: "\e902";
$icon-phone: "\e903";
$icon-twitter: "\e904";
$icon-facebook: "\e905";
$icon-google-plus: "\e906";
$icon-search: "\e907";
$icon-cart: "\e908";
$icon-user: "\e909";
$icon-home: "\e90a";
$icon-menu: "\e913";
$icon-chevron-thin-down: "\e90b";
$icon-chevron-small-down: "\e90c";
$icon-chevron-thin-up: "\e90d";
$icon-chevron-small-up: "\e90e";
$icon-chevron-thin-left: "\e90f";
$icon-chevron-small-left: "\e910";
$icon-chevron-thin-right: "\e911";
$icon-chevron-small-right: "\e912";