<section class="cant-miss">
	<div class="wrapper">
		<h2 class="section-title text-uppercase">No te puedes perder</h2>
		<div class="articles">
			<article class="blog-entry">
				<figure class="blog-entry-img">
					<img src="http://www.hypnoticliquors.com/wp-content/uploads/2011/11/alcoholic-drink-recipe.jpg" alt="">
				</figure>
				<div class="blog-entry-desc">
					<a href="#"><h3 class="blog-entry-title text-color-orange">Ahorra energía de tu casa con estos sencillos consejos</h3></a>
					<p class="blog-entry-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a molestiae, sit nulla distinctio recusandae ad porro et eius earum. Voluptatibus error accusantium expedita laborum esse incidunt iure. Atque, modi!</p>
					<a class="text-uppercase" href="#"><span>Ver todos</span><i class="icon icon-chevron-small-right"></i></a>
				</div>
			</article>
			<article class="blog-entry">
				<figure class="blog-entry-img">
					<img src="http://www.hypnoticliquors.com/wp-content/uploads/2011/11/alcoholic-drink-recipe.jpg" alt="">
				</figure>
				<div class="blog-entry-desc">
					<a href="#"><h3 class="blog-entry-title text-color-orange">Ahorra energía de tu casa con estos sencillos consejos</h3></a>
					<p class="blog-entry-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a molestiae, sit nulla distinctio recusandae ad porro et eius earum. Voluptatibus error accusantium expedita laborum esse incidunt iure. Atque, modi!</p>
					<a class="text-uppercase" href="#"><span>Ver todos</span><i class="icon icon-chevron-small-right"></i></a>
				</div>
			</article>
			<article class="blog-entry">
				<figure class="blog-entry-img">
					<img src="http://www.hypnoticliquors.com/wp-content/uploads/2011/11/alcoholic-drink-recipe.jpg" alt="">
				</figure>
				<div class="blog-entry-desc">
					<a href="#"><h3 class="blog-entry-title text-color-orange">Ahorra energía de tu casa con estos sencillos consejos</h3></a>
					<p class="blog-entry-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a molestiae, sit nulla distinctio recusandae ad porro et eius earum. Voluptatibus error accusantium expedita laborum esse incidunt iure. Atque, modi!</p>
					<a class="text-uppercase" href="#"><span>Ver todos</span><i class="icon icon-chevron-small-right"></i></a>
				</div>
			</article>
		</div>
		<a class="text-uppercase" href="#"><span>Ir al blog</span><i class="icon icon-chevron-small-right"></i></a>
	</div>
</section>