<section class="carousel">
	<div class="owl-carousel owl-theme">
		<div class="carousel-img-container">
			<div class="carousel-img" style="background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/seeaa8d15c3e53a26/image/i761e23b09b6646ed/version/1433806124/whisky-japones-suntory.jpg)">
			</div>
			<div class="carousel-img-caption">
				<h2 class="text-uppercase">Festival del whisky japonés</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quaerat est impedit, maxime rerum voluptate facilis accusantium inventore optio facere aspernatur id ut sapiente fugit in eaque veniam pariatur laudantium!</p>
				<div class="btn-container"><a href="#" class="btn text-uppercase">Más información <i class="icon icon-chevron-thin-right"></i></a></div>
			</div>
		</div>
		<div class="carousel-img-container">
			<div class="carousel-img" style="background-image: url(http://s01.s3c.es/imag/_v0/640x324/4/2/e/Nikka-1.jpg)">
			</div>
			<div class="carousel-img-caption">
				<h2 class="text-uppercase">Festival del whisky japonés 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quaerat est impedit, maxime rerum voluptate facilis accusantium inventore optio facere aspernatur id ut sapiente fugit in eaque veniam pariatur laudantium!</p>
				<div class="btn-container"><a href="#" class="btn text-uppercase">Más información <i class="icon icon-chevron-thin-right"></i></a></div>
			</div>
		</div>
	</div>
</section>