<section class="featured">
	<div class="wrapper">
		<h2 class="section-title text-uppercase">Productos destacados</h2>
		<div class="featured-category">
			<div class="featured-category-desc">
				<div class="featured-category-header">
					<div class="sq-img featured-category-img">
						<figure>
							<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
						</figure>
					</div>
					<div>
						<h3 class="featured-category-title text-uppercase text-color-orange">La fiesta del ron</h3>
						<div class="featured-category-subtitle">Ron Barceló</div>
					</div>
				</div>
				<p class="featured-category-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus labore, facere beatae rem illo voluptatum distinctio ipsam iusto dolores.</p>
				<a class="text-uppercase" href="#"><span>Ver todos</span><i class="icon icon-chevron-small-right"></i></a>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Ron Barceló</div>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Ron Cacique</div>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Ron Bacardí</div>
			</div>
		</div>
		<div class="featured-category">
			<div class="featured-category-desc">
				<div class="featured-category-header">
					<div class="sq-img featured-category-img">
						<figure>
							<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
						</figure>
					</div>
					<div>
						<h3 class="featured-category-title text-uppercase text-color-orange">El vodka más excéntrico de los 5 continentes</h3>
						<div class="featured-category-subtitle">Vodka Scorpion</div>
					</div>
				</div>
				<p class="featured-category-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus labore, facere beatae rem illo voluptatum distinctio ipsam iusto dolores.</p>
				<a class="text-uppercase" href="#"><span>Ver todos</span><i class="icon icon-chevron-small-right"></i></a>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Vodka Scorpion</div>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Vodka Absolute</div>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Vodka Valt</div>
			</div>
		</div>
		<div class="featured-category">
			<div class="featured-category-desc">
				<div class="featured-category-header">
					<div class="sq-img featured-category-img">
						<figure>
							<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
						</figure>
					</div>
					<div>
						<h3 class="featured-category-title text-uppercase text-color-orange">Al mejor estilo alemán</h3>
						<div class="featured-category-subtitle">Cerveza Franziskaner</div>
					</div>
				</div>
				<p class="featured-category-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus labore, facere beatae rem illo voluptatum distinctio ipsam iusto dolores.</p>
				<a class="text-uppercase" href="#"><span>Ver todos</span><i class="icon icon-chevron-small-right"></i></a>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Cerveza Franziskaner</div>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Cerveza Astra</div>
			</div>
			<div class="featured-category-product">
				<div class="sq-img featured-category-product-img">
					<figure>
						<a href="/poduct"><img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt=""></a>
					</figure>
				</div>
				<div class="featured-category-product-name">Cerveza Franziskaner</div>
			</div>
		</div>
	</div>
</section>