<footer>
	<section class="footer-social">
		<form action="#" id="newsletter">
			<div><i class="icon icon-mail"></i>Recibe ofertas y noticias en tu correo</div>
			<div>
				<input type="email" placeholder="Ingresa tu correo">
				<button class="text-uppercase" type="submit">Suscribirme</button>
			</div>
		</form>
		<ul>
			<div>Síguenos en nuestras redes sociales</div>
			<li><a href="#" class="icon icon-youtube-square"></a></li>
			<li><a href="#" class="icon icon-twitter"></a></li>
			<li><a href="#" class="icon icon-google-plus"></a></li>
			<li><a href="#" class="icon icon-facebook"></a></li>
		</ul>
	</section>
	<section class="footer-menus">
		<div class="logo">
			<img src="img/paneco.svg" alt="logo">
			<div>Pedidos telefónicos</div>
			<div>2354008</div>
		</div>
		<ul class="footer-menu">
			<h3>Servicio al cliente</h3>
			<li><a href="#">Contáctenos</a></li>
			<li><a href="#">Preguntas frecuentes</a></li>
			<li><a href="#">PQR</a></li>
			<li><a href="#">Política de privacidad</a></li>
			<li><a href="#">Contacto por e-mail</a></li>
		</ul>
		<ul class="footer-menu">
			<h3>Acerca de nosotros</h3>
			<li><a href="#">Quiénes somos</a></li>
			<li><a href="#">Trabaje con nosotros</a></li>
			<li><a href="#">Nuestras tiendas</a></li>
			<li><a href="#">Kit de prensa</a></li>
		</ul>
		<ul class="footer-menu">
			<h3>Mi cuenta</h3>
			<li><a href="#">Crear una cuenta</a></li>
			<li><a href="#">Administrar cuenta</a></li>
			<li><a href="#">Historial de pedidos</a></li>
		</ul>
	</section>
</footer>