<header>
	<div class="logo">
		<img src="img/paneco.svg" alt="logo">
	</div>
	<nav id="main-nav">
		<button type="button" class="hamburguer icon icon-menu"></button>
		<ul id="main-menu">
			<li class="main-menu-home"><a href="#"><i class="icon icon-home"></i>Inicio</a></li>
			<li><a href="#">Nuestras tiendas</a></li>
			<li><a href="#">Servicio al cliente</a></li>
			<li><a class="btn btn-secondary icon icon-user" href="#">Registro</a></li>
			<li><a href="" class="icon icon-edit">Ingreso</a></li>
		</ul>
		<a href="#" class="btn">0<i class="icon icon-cart"></i></a>
		<ul id="sec-menu">
			<li class="text-uppercase"><a href="#">Ofertas y promociones</a></li>
			<li class="text-uppercase"><a href="#">Ideas y recomendaciones</a></li>
			<li>
				<form action="#">
					<input type="search" name="term" placeholder="Buscar">
				</form>
			</li>
		</ul>
	</nav>
	<nav id="sec-nav">
		<ul>
			<li class="text-uppercase"><a href="#">Vodka</a></li>
			<li class="text-uppercase"><a href="#">Whisky</a></li>
			<li class="text-uppercase"><a href="#">Bourbon</a></li>
			<li class="text-uppercase"><a href="#">Ron</a></li>
			<li class="text-uppercase"><a href="#">Liqueurs</a></li>
			<li class="text-uppercase"><a href="#">Tequila</a></li>
			<li class="text-uppercase"><a href="#">Cerveza</a></li>
			<li class="text-uppercase"><a href="#">Vino</a></li>
			<li class="text-uppercase"><a href="#">Otros</a></li>
			<li class="phone-orders">
				<div>Pedidos telefónicos</div>
				<div><i class="icon icon-phone"></i><span class="phone-number">302-4000</span></div>
			</li>
		</ul>
	</nav>
</header>