<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Paneco</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<%- partial("_header") %>
		<main>
			<%- yield %>
		</main>
		<%- partial("_footer") %>
	</body>
</html>