<section class="offers">
	<h2 class="section-title text-uppercase">Ofertas y promociones</h2>
	<div class="offers-container">
		<div class="offer">
			<div class="sq-img offer-img">
				<figure>
					<img src="http://www.dmarte.com/dmarte/19-102-thickbox/buchanan-s-de-luxe.jpg" alt="">
				</figure>
			</div>
			<div class="offer-desc">
				<div class="offer-type text-uppercase text-color-orange">Whisky</div>
				<h3 class="offer-title">Buchanan's Reserva Especial</h3>
				<div class="offer-quantity">750cc</div>
				<div class="offer-price"><del>$110</del><span class="price">$80</span></div>
				<a href="#" class="btn text-uppercase"><span>Agregar</span> <i class="icon icon-cart"></i></a>
			</div>
		</div>
		<div class="offer">
			<div class="sq-img offer-img">
				<figure>
					<img src="http://www.nettbee.com/Uploads/images/Nuevos/SKU42195.jpeg" alt="">
				</figure>
			</div>
			<div class="offer-desc">
				<div class="offer-type text-uppercase text-color-orange">Whisky</div>
				<h3 class="offer-title">Buchanan's Reserva Especial</h3>
				<div class="offer-quantity">750cc</div>
				<div class="offer-price"><del>$110</del><span class="price">$80</span></div>
				<a href="#" class="btn text-uppercase"><span>Agregar</span> <i class="icon icon-cart"></i></a>
			</div>
		</div>
	</div>
</section>